<div id='about' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='column'>
                <div class='title1'>Goals</div>
                <div class='content1'>
                    To grow as an IT specialist with an interest in software development, computer networking,
                    information security, cybersecurity, and game development.
                </div>
            </div>
            <div class='column'>
                <div class='title1'>
                    Knowledge
                </div>
                <div class='content1'>
                    Development and management of microservices through Java Spring, creation of websites with React and Angular, as well as database administration.
                </div>
            </div>
        </div>
    </div>
</div>

<div id='edu' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='title2'>Education.</div>
            <div class='content2'>
                <b>
                    Bachelor Degree on Applied Math and Computing,
                </b>
                <em>
                    Facultad de Estudios Superiores Acatlán,
                </em>
                UNAM.
            </div>
            <div class='content2' style="margin-left: 20%;">
                <b>
                    Diploma in Statistical Techniques and Data Mining,
                </b>
                <em>
                    Facultad de Estudios Superiores Acatlán,
                </em>
                UNAM.
            </div>
        </div>
    </div>
</div>