<div id='about' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='column'>
                <div class='title1'>Goals</div>
                <div class='content1'>
                    Full-Stack Developer with experience in front-end and back-end development, seeking to contribute to scalable web applications and continue growing in software engineering, cloud technologies, and cybersecurity.
                </div>
            </div>
            <div class='column'>
                <div class='title1'>
                    Knowledge
                </div>
                <div class='content1'>
                   Development and management of microservices using Spring Boot, web application development with React and Angular, and database administration.
                </div>
            </div>
        </div>
    </div>
</div>

<div id='edu' class='section'>
    <div class='container'>

        <div class='row'>
            <div class='column skill-title'>
                <div class='title2'>Education.</div>
            </div>
            <div class="column">
                <div class='content2'>
                    <ul>
                        <li>
                            <b>
                                Bachelor's Degree in Applied Mathematics and Computing 
                            </b>
                            <em>
                                — Facultad de Estudios Superiores Acatlán, 
                            </em>
                            UNAM.
                        </li>
                        <li>
                            <b>
                                Diploma in Statistical Techniques and Data Mining 
                            </b>
                            <em>
                                — Facultad de Estudios Superiores Acatlán,
                            </em>
                            UNAM.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>