<div id='experience' class='section'>
    <div class='title2'>Experience</div>
    <div class='container'>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Banregio
                </div>
                <div class='date'>
                    December 2021 - Now
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Senior Analyst Programmer
                </div>
                <div class='content3'>
                    <ul>
                        <li>Implemented microservices using <b>Java Spring</b>, <b>Hibernate</b>, <b>JPA</b>, and <b>PostgreSQL</b> for different onboarding processes such as the purchase of new products offered by the bank, including bank accounts, credit cards, and personal or business insurance.</li>
                        <li>Took over the biometric application, managing the front-end and back-end of the component, including the integration of new biometric authentication flows with <b>Incode</b>.</li>
                        <li>Integration of <b>APM</b> into various <b>Angular</b> projects for improved monitoring of the aplication.</li>
                        <li>Creation of components and pages for new products, as well as the management and optimization of existing ones.</li>
                        <li>With the help of <b>GitHub Copilot</b>, creation of unit tests using <b>Jest</b> and <b>JUnit</b>.</li>
                        <li>Incident support involving analyzing, reporting the cause and proposing and developing the solution when required with the help of <b>Jira Cloud</b>.</li>
                        <li>Continuos Development and integration as a workflow using tools like Jira Cloud, OpenShift, GitHub.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Code Builders
                </div>
                <div class='date'>
                    June 2021 - December 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    During my time at DVRV, I participated in a project to migrate a management system for towing and vehicle repair services. The new system was developed with the <b>ASP.NET</b> framework based on the Model View Controller architecture using the <b>C#</b> language.<br/>
                    My responsibilities consisted of creating the different views using <b>Bootstrap</b> for their layout, in addition to the front-end logic with <b>JavaScript</b>.
                    I also developed the back-end logic where my main responsibility was migrating code from the legacy system to the new platform while implementing client-requested improvements.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Polyhedron Universe
                </div>
                <div class='date'>
                    August 2020 - April 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    Freelance multimedia project developed on the web that seeks creative freedom. I was part of a multidisiplinary 3D graphics development team, that built the web application using the <b>Three.js</b> library and the <b>React.js</b> framework.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    DVRV
                    <div class='abr'>
                        Visualization and Virtual Reality Department.
                    </div>
                </div>
                <div class='date'>
                    October 2020 - April 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    During my stay in DVRV, I took part in different tasks related to <em>Augmented Reality</em> and <em>Virtual Reality</em>. These tasks involved testing augmented reality solutions and developing a mini tutorial for the <b>Oculus Quest VR</b> headset using <b>Unity</b>.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Othala
                </div>
                <div class='date'>
                    January - December 2019
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    <p>A personal project that, along with friends and classmates, was aimed at video game development using the <b>Unity</b> engine. During this time, we completed two projects:</p>
                    <ul>
                        <li>
                            <b>
                                Caro:
                            </b>
                            A game developed for a contest at our university in which we won first place. It's a PC game with four minigames and a touching story.
                        </li>
                        <li>
                            <b>
                                Save the Aliens:
                            </b>
                            Developed during a seminar at the Center of Digital Culture (CCD) in Mexico City. Aimed for mobile devices, consists of a skill-based game in which you have to save aliens while also trying to beat your high score.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Sistema Hera
                </div>
                <div class='date'>
                    August - December 2018
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Back-end / Database
                </div>
                <div class='content3'>
                    Development of a web solution for the administration of the grading system at a high school. I designed and built the database while also contributing to back-end development using PHP. This was a project developed for the class of Software Engineering; five teams delivered their solutions, and of all the projects, my team was chosen as the best solution.
                </div>
            </div>
        </div>

    </div>
</div>