<div id='experience' class='section'>
    <div class='title2'>Experience</div>
    <div class='container'>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Banregio
                </div>
                <div class='date'>
                    December 2021 - Now
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Senior Analyst Programmer
                </div>
                <div class='content3'>
                    I am currently part of the Onboarding area, working on the onboarding website of the bank. The platform manages the business processes through which customers can digitally apply for products such as checking accounts, credit cards, personal loans, and insurance products.
                    <br>My main responsibilities consist of:
                    <ul style="list-style: circle; list-style-position: inside; margin-bottom: 10px;">
                        <li style="margin-top: 10px;">
                            Gather and analyze new business requirements to identify technical impacts, define project scope, and estimate development effort and resources, <b>DEVELOPMENT</b> that involves the implementation along with the coordination with the different teams involved, in addition to the <b>MONITORING</b> of the release process through quality assurance until its subsequent release into production, which sometimes involves monitoring to validate its correct functioning.
                        </li>
                        <li style="margin-top: 10px;">
                            Improve existing processes through refactoring and optimization to increase efficiency and enhance customer experience.
                        </li>
                        <li style="margin-top: 10px;">
                            Investigate and resolve incidents and bugs reported by clients by identifying root causes and implementing corrective and preventive solutions.
                        </li>
                    </ul>
                    My main role is as a front-end developer, using <b>Angular</b> for the development, maintenance and improvement of new and existing components within the project, including structural, stylistic, and behavioral improvements using HTML, CSS, and TypeScript.
                    <br><br>
                    Previous roles required working with microservices using the <b>Springboot</b> framework, the tasks would range from creating new endpoints according to the requirements presented by the business architects or by maintaining and improving upon existing ones, this to be used directly by some product on the front-end or by other microservices.
                    These microservices were developed in Java using Spring Boot, JPA, and Hibernate for PostgreSQL database management.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Code Builders
                </div>
                <div class='date'>
                    June 2021 - December 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    During my time with this team, I participated in a project to migrate a management system for towing and vehicle repair services. The new system was developed with the <b>ASP.NET</b> framework based on the Model View Controller architecture using the C# language.
                    My responsibilities consisted of creating the different views using Bootstrap for their layout, in addition to the front-end logic with <b>Javascript</b>.
                    I also developed the back-end logic where my main responsibility was migrating code from the legacy system to the new platform while implementing client-requested improvements.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Polyhedron Universe
                </div>
                <div class='date'>
                    August 2020 - April 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    Freelance multimedia project developed on the web that seeks creative freedom. I was part of the 3D graphics environment development team, which was built using the Three.js library and the React.js framework.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    DVRV
                    <div class='abr'>
                        Visualization and Virtual Reality Department.
                    </div>
                </div>
                <div class='date'>
                    October 2020 - April 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    During my stay in DVRV, I took part in different tasks related to <em>Augmented Reality</em> and <em>Virtual Reality</em>. These tasks involved testing augmented reality solutions and developing a mini tutorial for the Oculus Quest VR headset using Unity.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Othala
                </div>
                <div class='date'>
                    January - December 2019
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    <p>
                        A personal project that, along with friends and classmates, was aimed at video game using the engine <b>Unity</b>. During this time, we managed to finish two projects:
                    </p>
                    <ul>
                        <li>
                            <b>
                                Caro:
                            </b>
                            A game developed for a contest at our university in which we won first place. It's a PC game
                            with four minigames and a touching story.
                        </li>
                        <li>
                            <b>
                                Save the Aliens:
                            </b>
                            Developed during a seminar at the Center of Digital Culture (CCD) in Mexico City. Aimed for
                            mobile devices, consists of a skill game in which you have to save Aliens while also trying
                            to beat your high score.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Sistema Hera
                </div>
                <div class='date'>
                    August - December 2018
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Back-end / Database
                </div>
                <div class='content3'>
                    Development of a web solution for the administration of the grading system at a high school. I
                    designed and built the database while also contributing to back-end development using PHP. This was a project
                    developed for the class of Software Engineering; 5 teams delivered their solutions, and of all the
                    projects, my team was chosen as the best solution.
                </div>
            </div>
        </div>

    </div>
</div>