<div id='experience' class='section'>
    <div class='title2'>Experience</div>
    <div class='container'>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Banregio
                </div>
                <div class='date'>
                    December 2021 - Now
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Junior Analyst Programmer
                </div>
                <div class='content3'>
                    I am currently part of the Technology area, belonging to one of the work cells that handles the Onboarding of part of the products offered by the bank. This cell is in charge of the business processes through which a prospect can digitally access the contracting of products such as checking accounts, credits such as TDC, personal credit, as well as various types of individual insurance to mention the most relevant.
                    <br>My main responsibilities consist of:
                    <ul style="list-style: circle; list-style-position: inside; margin-bottom: 10px;">
                        <li style="margin-top: 10px;">
                            Address new requirements of the product areas by participating in the ANALYSIS where the technical impact is identified and with this determine the scope and investment of hours and resources required, <b>DEVELOPMENT</b> that involves the implementation along with the coordination with the different teams involved, in addition to the <b>MONITORING</b> of the release process through quality assurance until its subsequent release into production, which sometimes involves monitoring to validate its correct functioning.
                        </li>
                        <li style="margin-top: 10px;">
                            Strengthen current processes through refactoring at critical points, seeking greater efficiency in existing processes and thus improving the customer experience.
                        </li>
                        <li style="margin-top: 10px;">
                            Response to incidents in the product contracting processes, which consist of <b>ANALYSIS</b> of the reported error that involves searching for its origin in order to arrive at proposals for its immediate <b>SOLUTION</b> and prevention.
                        </li>
                    </ul>
                    My main focus is as a backend developer, using Java for the development of microservices with the <b>Spring</b> framework. With microservices, the main tasks range from creating new endpoints according to the requirements presented by the business architects or by maintaining and improving upon existing ones, this to be used directly by some product on the front-end or by other microservices.
                    These microservices were developed on Java using the framework <b>Springboot</b>, with the help of <b>JPA</b>, <b>Hibernate</b> to facilitate the data management in <b>PostgreSQL</b> database.
                    <br><br>
                    On the other hand, on occasions I have also participated in front-end development, which is through <b>Typescript</b> with <b>Angular</b>.
                    This involves mostly maintenance and improvement of existing components within the project, like the change of structure, style and behavior all of it using <b>HTML</b>, <b>CSS</b> and <b>Javascript</b>.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Code Builders
                </div>
                <div class='date'>
                    June 2021 - December 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    During my stay here, I participated in a project to migrate a management system for towing and vehicle repair services. The new system was developed with the <b>ASP.NET</b> framework based on the Model View Controller architecture using the C# language.
                    My responsibilities consisted of creating the different views using Bootstrap for their layout, in addition to the front-end logic with <b>Javascript</b>.
                    I also developed the back-end logic where the main activity was the migration of the code from the original system to the new one along with improvements requested by the client.          
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Polyhedron Universe
                </div>
                <div class='date'>
                    August 2020 - April 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    Freelance multimedia project developed on the web that seeks creative freedom. I was part of the 3D
                    graphics environment development team, which was build using the library <b>Three.js</b> and the Web
                    framework <b>React.js</b>.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    DVRV
                    <div class='abr'>
                        Visualization and Virtual Reality Department.
                    </div>
                </div>
                <div class='date'>
                    October 2020 - April 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    During my stay in DVRV, I took part on different tasks related to <em>Augmented Reality</em> and
                    <em>Virtual Reality</em>. Such tasks involved testing different AR solutions and the development of
                    a mini tutorial for the VR Headset <b>Oculus Quest</b> using Unity Engine.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Othala
                </div>
                <div class='date'>
                    January - December 2019
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programmer.
                </div>
                <div class='content3'>
                    <p>
                        A personal project that, along with friends and classmates, was aimed to the development of
                        video games using the engine <b>Unity</b>. During this time, we managed to finish two projects:
                    </p>
                    <ul>
                        <li>
                            <b>
                                Caro:
                            </b>
                            A game developed for a contest at our university in which we won first place. It's a PC game
                            with four minigames and a touching story.
                        </li>
                        <li>
                            <b>
                                Save the Aliens:
                            </b>
                            Developed on a seminar on the Center of Digital Culture (CCD) in Mexico City. Aimed for
                            mobile devices, consists of a skill game in which you have to save Aliens while also trying
                            to beat your high score.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Sistema Hera
                </div>
                <div class='date'>
                    August - December 2018
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Back-end / Data base
                </div>
                <div class='content3'>
                    Development of a web solution for the administration of the grading system at a high school. I
                    designed and built the database while also working on the back-end using PHP. This was a project
                    developed for the class of Software Engineering; 5 teams delivered their solutions, and of all the
                    projects, my team was chosen as the best solution.
                </div>
            </div>
        </div>

    </div>
</div>