<div id=header>
    <canvas id='myCanvas'></canvas>
    <div id='profile'>
        <img id='img-me' src="/assets/img/me.jpg" alt="me">
        <div id='name'>Mauricio Meléndez</div>
        <div id='sub-name'>Software Developer</div>
        <div id='contact'>
            <a href="mailto:mauricio_esteban@live.com" id="email">mauricio_esteban@live.com</a> <br />
            <a href="https://maumlz.github.io" id="email">maumlz.github.io</a>
        </div>
        <div id='down'>
            <a href="/assets/docs/CV-Mauricio Meléndez.pdf" download>
                <button>Descargar CV</button>
            </a>
        </div>
    </div>
</div>