<div id='other' class='section'>
    <div class='title2'>Others</div>
    <div class='container'>
        <div class='row'>
            <div class='column'>
                <div class='title1'>Game Summit <span class='date'>November 2019</span></div>
                <div class='content1'>
                    I was a volunteer for the first major event related to game development in Spanish-speaking
                    countries. The event was organized by Mexican and Spanish studios sponsored by Unity and Epic Games.
                </div>
            </div>
            <div class='column'>
                <div class='title1'>Hobbies</div>
                <div class='content1'>
                    Interests include science fiction and history reading, music, film photography, and DIY technology projects.
                </div>
            </div>
        </div>
    </div>
</div>