<div id='skills' class='section'>

    <div class='container'>

        <div id='prog' class='row'>

            <div class='column skill-title'>
                <div class='title2'>Skills</div>
            </div>

            <div class='column skill-container'>
                <div class="content3">
                    <ul>
                        <li><b>Languages</b>: Java, JavaScript, TypeScript, C#, PHP, SQL, C, C++, C#</li>
                        <li><b>Front-End</b>: Angular, React.js, HTML, CSS, Bootstrap, Three.js</li>
                        <li><b>Back-end</b>: Spring Boot, ASP.NET MVC, JPA, Hibernate</li>
                        <li><b>Databases</b>: PostgreSQL, MySQL, MongoDB, Sybase</li>
                        <li><b>Tools & Platforms</b>: GitHub, OpenShift, Heroku, SonarQube, JUnit, Mockito, Unity, XAMPP</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id='lan' class='row'>
            <div class='column skill-title'>
                <div class='title2'>Languages</div>
            </div>

            <div class='column skill-container'>
                <div class='skill'>
                    <span>Spanish</span>
                    <span>Native</span>
                </div>
                <div class='skill'>
                    <span>English</span>
                    <span>Advance</span>
                </div>
                <div class='skill'>
                    <span>German</span>
                    <span>Begginer</span>
                </div>
            </div>
        </div>
    </div>
</div>