* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Avenir, Verdana, sans-serif;
    font-size: 11pt;
    text-align: justify;
    box-sizing: border-box;
}

body{
    margin: 0.2cm 0.75cm;
    background-color: rgb(241, 243, 244);
}

#nav-bar, #myCanvas, #img-me, #down {
    display: none;
}

#header{
}

#name {
    font-size: 22pt;
    font-weight: 900;
}

#sub-name{
    font-size: 14pt;
    font-style: italic;
}

#contact{
    position: absolute;
    right: 1cm;
    top: 1%;
    text-align: right;
}

#email {
    color: #107896;
    font-size: 10pt;
    text-decoration: none;
}

.section {
    margin: 0.1cm 0cm 0.2cm 0cm;
}

.row{
    display: flex;
    flex-flow: row wrap;
}

#other .column, #about .column{
    width: 50%;
}

.title1 {
    font-weight: bold;
    padding: 0.15cm 0.25cm;
    border-bottom: solid 2px rgba(0, 0, 0, 0.308);
}

.content1 {
    padding: 0.15cm 0.25cm;
}

.title2{
    font-weight: bolder;
    padding: 0.15cm 0.25cm;
    text-align: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0.308);
    min-width: 20%;
}

.content2 {
    width: 100%;
    padding: 0.15cm 0.25cm;
}

#experience .column {
    max-width: 80%;
}

#experience .row {
    margin-bottom: 0.25cm;
    
}

.exp-title {
    font-weight: bolder;
    width: 17.5%;
    padding: 0.2cm;
}

.title3 {
    text-align: center;
}

.content3 {
    padding: 0.15cm 0.25cm;
    line-height: 0.5cm;
}

.subtitle {
    font-weight: bold;
    padding: 0.15cm 0.25cm;
}

.date {
    text-align: center;
    font-size: 7pt;
    font-weight: lighter;
    font-style: italic;
    margin-top: 0.2cm;
    padding-left: 20%;
    padding-right: 20%;
}

.skill-title{
    width: 20%;
}

.skill-container {
    width: 75%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.skill {
    padding: 0.0cm 0.3cm 0.1cm .3cm;
    margin: 0 0.1cm 0 0.1cm;
    border-radius: 15px;
    width: max-content;
    height: max-content;
    background-color:#107896;
    color: white
}

.skill span {
    font-size: 6.5pt;
    // background-color: red;
    line-height: 0;
}

ul {
    padding-left: 0.2cm;
    list-style-position: inside;
    list-style-type: none;
    
}

.content2 ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

}

li {
    
    font-size: 10pt;
}

li b {
    font-size: 10pt;
}

#edu .content2 {
    max-width: 80%;

}

.title1, .title2, .title3 {
    color: rgb(16, 120, 150);
}

.abr {
    font-size: 6pt;
    text-align: center;
}