<div id='about' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='column'>
                <div class='title1'>Objetivos</div>
                <div class='content1'>
                    Crecer como especialista en las tecnologías de la información con interés en el desarrollo
                    de software, redes, seguridad de la información, ciberseguridad y desarrollo de videojuegos.
                </div>
            </div>
            <div class='column'>
                <div class='title1'>
                    Conocimiento en
                </div>
                <div class='content1'>
                    Programación, diseño y administración en base de datos, análisis matemático y modelado
                    estadístico.
                </div>
            </div>
        </div>
    </div>
</div>

<div id='edu' class='section'>
    <div class='container'>
        <div class='row'>
            <div class='title2'>Educación.</div>
            <div class='content2'>
                <b>
                    Lic. Matemáticas Aplicadas y Computación,
                </b>
                <em>
                    Facultad de Estudios Superiores Acatlán,
                </em>
                UNAM.
            </div>
        </div>
    </div>
</div>