<div id='experience' class='section'>
    <div class='title2'>Experiencia</div>
    <div class='container'>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Banregio
                </div>
                <div class='date'>
                    Diciembre 2021 - Actualmente
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programador Analista Jr.
                </div>
                <div class='content3'>
                    Actualmente pertenezco al área de Tecnología, en una de las células de trabajo que atiende el Onboarding de parte de los productos que ofrece el banco. Esta célula se encarga de los procesos de negocio mediante los cuales un prospecto puede acceder de manera digital a la contratación de productos como cuentas de cheques, créditos como tdc, crédito personal, así como diversos tipos de seguros individuales por mencionar los más relevantes.
                    <br>Mi principales responsabilidades consisten en:
                    <ul style="list-style: circle; list-style-position: inside; margin-bottom: 10px;">
                        <li style="margin-top: 8px;">
                            Atender nuevos requerimientos de las áreas de producto participando desde el <b>ANÁLISIS</b> en dónde se identifica los insumos de negocio, impacto técnico y con esto determinar alcance e inversión de horas y recursos requeridos, <b>DESARROLLO</b> que involucra la implementación junto con la coordinación con los diferentes equipos involucrados, además del <b>SEGUIMIENTO</b> del proceso de liberación pasando por las pruebas en calidad hasta su posterior salida a producción la cual involucra en ocasiones monitoreo para la validación de su correcto funcionamiento.
                        </li>
                        <li style="margin-top: 8px;">
                            Fortalecer procesos actuales mediante refactorizaciones en puntos críticos, buscando una mayor eficiencia en los procesos existentes y así mejorar la experiencia del cliente.
                        </li>
                        <li style="margin-top: px;">
                            Respuesta a incidencias en los procesos de contratación de producto, las cuales consisten en <b>ANÁLISIS</b> del error reportado que consiste en buscar el origen de este para así llegar a propuestas para su SOLUCIÓN inmediata y prevención.
                        </li>
                    </ul>
                    Mi enfoque principal es como desarrollador backend, utilizando Java para el desarrollo de microservicios con el framework <b>Spring</b>. Por otro lado, en ocasiones también he participado en desarrollo front-end, el cual es a través de Typescript con <b>Angular</b>.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Code Builders
                </div>
                <div class='date'>
                    Junio 2021 - Diciembre 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programador.
                </div>
                <div class='content3'>
                    Durante mi estancia aquí, participé en un proyecto de migración de un sistema de gestión para servicios de grúas y reparación de vehículos. El nuevo sistema se desarrolló con el framework <b>ASP.NET</b> basado en la arquitectura Modelo Vista Controlador utilizando el lenguaje C#.
                    Mis responsabilidades consistían en la creación de las diferentes vistas usando Bootstrap para su maquetación, además de la lógica de front-end con <b>Javascript</b>.
                    También desarrollé la lógica de back-end donde la principal actividad fue la migración del código del sistema original al nuevo, junto con mejoras solicitadas por el cliente.                    
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Polyhedron Universe
                </div>
                <div class='date'>
                    Agosto 2020 - Abril 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programador.
                </div>
                <div class='content3'>
                    Proyecto musical multimedia desarrollado en la web que busca la libertad creativa. Participé
                    como desarrollador del ambiente gráfico 3D utilizando la librería <b>Three.js</b>, además
                    del uso del framework <b>React.js</b>.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    DVRV
                    <div class='abr'>
                        Dep. de Visualización y Realidad Virtual.
                    </div>
                </div>
                <div class='date'>
                    Octubre 2020 - Abril 2021
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programador.
                </div>
                <div class='content3'>
                    Durante mi estadía en DVRV desarrollé diversas tareas en torno a las tecnologías de
                    <em>Realidad Aumentada</em> y <em>Realidad Virtual</em>. Parte de mis actividades fue
                    realizar
                    pruebas de diferentes aplicaciones AR, además del desarrollo de una aplicación tutorial
                    para <b>Oculus Quest 2</b>. <em>(Servicio Social)</em>.
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Othala
                </div>
                <div class='date'>
                    Enero - Diciembre 2019
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Programador.
                </div>
                <div class='content3'>
                    <p>
                        Proyecto personal para el desarrollo de videojuegos utilizando <b>Unity Engine</b> como
                        herramienta principal. Contamos con dos proyectos finalizados:
                    </p>
                    <ul>
                        <li>
                            <b>
                                Caro:
                            </b>
                            Primer lugar del 2do Concurso de desarrollo de Video Juegos en la Semana de
                            Matemáticas Aplicadas y Computación. Enfocado a PC, cuenta con una breve historia
                            contada a través de 5 niveles cada uno siendo un minijuego.
                        </li>
                        <li>
                            <b>
                                Save the Aliens:
                            </b>
                            Desarrollado en el Taller Mermelada Lab impartido en el Centro de Cultura Digital de
                            la Ciudad de México. Dirigido a dispositivos móviles, consiste en un juego de
                            destreza donde el jugador busca mejorar su puntaje.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='column exp-title'>
                <div class='title3'>
                    Sistema Hera
                </div>
                <div class='date'>
                    Agosto - Diciembre 2018
                </div>
            </div>
            <div class='column'>
                <div class='subtitle'>
                    Back-end / Base de Datos
                </div>
                <div class='content3'>
                    Desarrollo de un sistema para la gestión de calificaciones de un bachillerato técnico.
                    Diseñé e implementé la base de datos además de programar el back-end del sistema. Este
                    proyecto se desarrolló como parte de la asignatura Ingeniería de Software; se presentaron 5
                    proyectos a competir, siendo mi equipo quién cumplió con los requerimientos estipulados para
                    ser el ganador.
                </div>
            </div>
        </div>

    </div>
</div>