
<div id='other' class='section'>
    <div class='title2'>Otros</div>
    <div class='container'>
        <div class='row'>
            <div class='column'>
                <div class='title1'>Game Summit <span class='date'>Noviembre 2019</span></div>
                <div class='content1'>
                    Participé como staff voluntario en el primer evento relacionado con el desarrollo de
                    videojuegos en países de habla hispana. El evento fue organizado por estudios españoles y
                    mexicanos, además de contar con el apoyo de Unity Latinoamérica y Unreal Engine.
                </div>
            </div>
            <div class='column'>
                <div class='title1'>El Podcast de Moi y Mau</div>
                <div class='content1'>
                    Podcast enfocado hacia el debate y reseña sobre la música hip-hop. Contamos con 27 episodios
                    de poco más de una hora donde tocamos diversos temas además de los tópicos musicales.
                </div>
            </div>
        </div>
    </div>
</div>