<div id='skills' class='section'>

    <div class='container'>
    
        <div id='prog' class='row'>
    
            <div class='column skill-title'>
                <div class='title2'>Lenguajes y software</div>
            </div>
    
            <div class=' column skill-container'>

                <div class='skill'>
                    <span>HTML/CSS/JS</span>
                    <!-- <span>80%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 80%;"></div>
                    </div> -->
                </div>

                <div class='skill'>
                    <span>C/C++</span>
                    <!-- <span>80%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 80%;"></div>
                    </div> -->
                </div>

                <div class='skill'>
                    <span>SQL</span>
                    <!-- <span>80%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 80%;"></div>
                    </div> -->
                </div>

                <div class='skill'>
                    <span>Github</span>
                    <!-- <span>60%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 60%;"></div>
                    </div> -->
                </div>

                <div class='skill'>
                    <span>R</span>
                    <!-- <span>80%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 80%;"></div>
                    </div> -->
                </div>

                <div class='skill'>
                    <span>PHP</span>
                    <!-- <span>70%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 70%;"></div>
                    </div> -->
                </div>

                <div class='skill'>
                    <span>C#</span>
                    <!-- <span>75%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 75%;"></div>
                    </div> -->
                </div>

                <div class='skill'>
                    <span>Unity Engine</span>
                    <!-- <span>70%</span>
                    <div class='progress-bar'>
                        <div class='progress' style="width: 70%;"></div>
                    </div> -->
                </div>

            </div>

        </div>

        <div id='lan' class='row'>

            <div class='column skill-title'>
                <div class='title2'>Idiomas</div>
            </div>

            <div class='column skill-container'>
                <div class='skill'>
                    <span>Español</span>
                    <span>Nativo</span>
                </div>
                <div class='skill'>
                    <span>Inglés</span>
                    <span>Avanzado</span>
                </div>
                <div class='skill'>
                    <span>Alemán</span>
                    <span>Principiante</span>
                </div>
            </div>

        </div>
    </div>
</div>
