<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/parts.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/img/me.jpg" type="image/x-icon">
    <title>Resume</title>
</head>
<body>
    {% include nav.html lang=page.lang %}

    <div id='page-content'>
        {% if page.lang == 'es'%}
            {% include es/header.html %}
            {% include es/about.html %}
            {% include es/experience.html %}
            {% include skills.html %}
        {% else %}
            {% include en/header.html %}
            {% include en/about.html %}
            {% include en/experience.html %}
            {% include skills.html %}
        {% endif %}
    </div>

    <script type='module' src='../assets/js/three.js'>
    </script>
</body>
</html>