@media (max-width: 600px) {
    #name {
      font-size: 0.75em;
      transition: 0.1s;
    }

    #sub-name{
        font-size: 0.5em;
    }

    #email{
        font-size: 50%;
    }

    #down button{
        font-size: 0.5em;
    }
}

@media (min-width: 600px) {
    #name {
      font-size: 2em;
      transition: 0.1s;
    }
    
    #sub-name{
        font-size: 1em;
    }
}

#header{
    height: 60vh;
}

#myCanvas{
    position: absolute;
    height: 60vh;
    width: 100%;
    z-index: -1;
}

#profile{
    padding: 5vh 0vw;
    height: 100%;
    text-align: center;
    color: white;
}

#profile *{
    padding-top: 0.75vh;
}

#img-me{
    height: 50%;
    border-radius: 50%;
}

#name {
    font-weight: 900;
}

#sub-name {
    text-transform: uppercase;
}

#email {
    color: #107896;
    text-decoration: none;
}

#down button {
    cursor: pointer;
    margin-top: 5px;
    padding: 5px;
}